<div class="row down60">
  <div class="span8">

    <h1>Step 2 - Verify your contact information</h1>

    Thank you for submitting your contributor agreement, but <b>there is one more step to complete!</b>
    <p>
    
    We've sent an email to <b><%= email %></b> with a confirmation link.  When you receive the email, please click the link (or copy and paste it into your browser) to complete the process of becoming a contributor. 

   </div>
</div>
   