<div class="row down60">
  <div class="span8">

      <h1>Frequently Asked Questions</h1>

      <h2>Why do you need my email address?</h2>
          We need your email address for 2 reasons.  The first, obviously, is that we man need to contact you should some issue arise regarding your contribution.  The second is that if you're doing your project in Atlas, we have an automated system that will check project's commit history  against the list of people who have agreed to the CLA. Since git uses your email address as part of the commit record, the email (or emails!) you use in git need to match the emails you provide in the CLA.

      <h2>How do I set the email in git to match this CLA?</h2>
         There are two basic scenarios to set your email address.  They are:

          <ul>
	      <li>If you are just using Atlas, then Atlas will automatically use the name and email address you provided when you signed up.  So, all you have to do is make sure that you use the same email address to this system as you do in Atlas.</li>
	      <li>If you are using git as a client (i.e., on the command line, bypassing Atlas all together), make sure you set your email address in your git.config, as described in GitHub's <a href="https://help.github.com/articles/setting-your-email-in-git">Setting your email in git</a></li>
      </h2>

      <h2>Why is this necessary, at all, BTW?</h2>
         A contributor license agreement (CLA) is necessary to ensure that O'Reilly and the author or the work have the rights required to distribute the content.  This system is meant to make it simple and painless to track.

      <h2>Do I need to complete a CLA for every project?</h2>
         No.  You only need to complete the CLA one time -- it will cover your participation in all other projects.

      <h2>I'm already an O'Reilly author with a contract -- why do I have to fill this out, as well?</h2>
         If you're an author, completing the CLA is mostly for administrative purposes.  If you already have an author contract, then the terms there take precedence over the CLA.  One of the goals of this tool is to help protect you by giving you an easy way to audit the contributor list on the project.  While it's inconvenient to have to sign up for this agreement, it's WAYYY more inconvenient to get sued. 

   </div>
</div>




