<div class="row down60">
  <div class="span8">

      <h1>Frequently Asked Questions</h1>

      <h2>Why is this necessary?</h2>
         A contributor license agreement (CLA) is necessary to ensure that O'Reilly and the author or the work have the rights required to distribute the content.  This system is meant to make it simple and painless to track 

      <h2>Do I need to complete a CLA for every project</h2>
         No.  You only need to complete the CLA one time -- it will cover your participation in all other projects.

      <h2>I'm already an O'Reilly author with a contract -- why do I have to fill this out, as well?</h2>
         If you're an author, completing the CLA is mostly for administrative purposes.  If you already have an author contract, then the terms there take precedence over the CLA.

   </div>
</div>




