<!DOCTYPE html>
<html>
<head>
  <title>O'Reilly Contributor License Agreement ("CLA") Registration System</title>
  <link href="/stylesheets/styles.css" media="all" rel="stylesheet" type="text/css" />

   <script type="text/javascript" src="/javascripts/jquery.js"></script>
   <script type="text/javascript" src="/javascripts/parsley.js"></script>
   <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

   <style type="text/css">
     input.parsley-success, textarea.parsley-success {
       color: #468847 !important;
       background-color: #DFF0D8 !important;
       border: 1px solid #D6E9C6 !important;
     }
     input.parsley-error, textarea.parsley-error {
       color: #B94A48 !important;
       background-color: #F2DEDE !important;
       border: 1px solid #EED3D7 !important;
     }
     ul.parsley-error-list {
         font-size: 12px;
         margin: 3px;
         list-style-type:none;
     }
     ul.parsley-error-list li {
         line-height: 11px;

   </style>

</head>
<body>
  <div class="navbar">
    <div class="container">
      <a class="brand" href="/"><span class="logo logo-white"></span></a>
      <ul class="nav">
        <li><a href="/faq">FAQ</a></li>
      </ul>
      <ul class="nav">
        <li><a href="/contributor_status">Verify CLAs</a></li>
      </ul>
      <ul class="nav">
        <li><a href="/webhook">Add a hook</a></li>
      </ul>
    </div>
  </div>

  <div class="container" id="main">
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span5">
          <span class="logo"></span>
          <p>© 2013, O'Reilly Media, Inc.</p>
          <p class="small">All trademarks and registered trademarks appearing on oreilly.com are the property of their respective owners.</p>
        </div>
        <div class="span3">
          <ul>
            <li>Legal</li>
            <li><a href="/contributor_agreement">Contributor License Agreement ("CLA")</a></li>
            <li><a href="http://oreilly.com/oreilly/privacy.csp">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

</body>
</html>