<!DOCTYPE html>
<html>
<head>
  <title>Contributor Registration System</title>
  <link href="stylesheets/styles.css" media="all" rel="stylesheet" type="text/css" />

</head>
<body>
  <div class="navbar">
    <div class="container">
      <a class="brand" href="/"><span class="logo logo-white"></span></a>
      <ul class="nav">
        <li><a href="/faq">FAQ</a></li>
      </ul>

    </div>
  </div>

  <div class="container" id="main">
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span5">
          <span class="logo"></span>
          <p>© 2013, O’Reilly Media, Inc.</p>
          <p class="small">All trademarks and registered trademarks appearing on oreilly.com are the property of their respective owners.</p>
        </div>
        <div class="span3">
          <ul>
            <li>Legal</li>
            <li><a href="/contributor_agreement">Contributor Agreement</a></li>
            <li><a href="http://oreilly.com/oreilly/privacy.csp">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

</body>
</html>