<% if flash[:error] then %>
 <div class="row flash span12">
   <div class="flash-item error">
     <%= flash[:error] %>
  </div>
</div>
<% end %>

<div class="row down60">
  <div class="span5">

    <h1>Thanks for verification</h1>

    Thanks for verifying your account!  Please check your email for your confirmation.

   </div>
</div>
   